/react-poc-data-service/ReactPocDataService/bin
/react-poc-data-service/ReactPocDataService/obj
/react-poc-data-service/.vs
/dotnet-mvc-ui/dotnet-mvc-ui/bin
/dotnet-mvc-ui/dotnet-mvc-ui/obj
/1_react-poc-data-service/ReactPocDataService/bin
/1_react-poc-data-service/ReactPocDataService/obj
/5-dotnet-mvc-ui/dotnet-mvc-ui/bin
/5-dotnet-mvc-ui/dotnet-mvc-ui/obj
