@{
    ViewData["Title"] = "Home Page";
}

<h1>Dotnet React Test App</h1>

@using (Html.BeginForm())
{
    <div style="margin:8px;border:1px solid silver;padding:8px;border-radius: 4px;">
        <div>
            <h2>SSR Rendering with IFrame</h2>
            <input type="submit"
               formaction="home/Navigate"
               formmethod="post"
               name="value"
               value="SSR Speaker IFrame" />
            <input type="submit"
               formaction="home/Navigate"
               formmethod="post"
               name="value"
               value="SSR House IFrame" />
        </div>
        <br />
        <div>
            <h2>SSR Rendering Embedded</h2>
            <input type="submit"
               formaction="home/Navigate"
               formmethod="post"
               name="value"
               value="SSR Speaker Embedded" />
            <input type="submit"
               formaction="home/Navigate"
               formmethod="post"
               name="value"
               value="SSR House Embedded" />
        </div>
    </div>

    <hr />
    <div style="margin:8px;border:1px solid silver;padding:8px;border-radius: 4px;">

        <div>
            <h2>CSR Rendering with IFrame</h2>
            <input type="submit"
               formaction="home/Navigate"
               formmethod="post"
               name="value"
               value="CSR Speaker IFrame" />
            <input type="submit"
               formaction="home/Navigate"
               formmethod="post"
               name="value"
               value="CSR House IFrame" />
        </div>
        <br />
        <div>
            <h2>CSR Rendering Embedded</h2>
            <input type="submit"
               formaction="home/Navigate"
               formmethod="post"
               name="value"
               value="CSR Speaker Embedded" />
            <input type="submit"
               formaction="home/Navigate"
               formmethod="post"
               name="value"
               value="CSR House Embedded" />
        </div>
    </div>

    <hr />
        <hr />
    <div style="margin:8px;border:1px solid silver;padding:8px;border-radius: 4px;">

        <h2>NextJS SSG Not Implemented</h2>
        <div>
            <h2>SSG Rendering with IFrame</h2>
            <input type="submit"
               formaction="home/Navigate"
               formmethod="post"
               name="value"
               value="SSG Speaker IFrame" />
            <input type="submit"
               formaction="home/Navigate"
               formmethod="post"
               name="value"
               value="SSG House IFrame" />
        </div>
        <br />
        <div>
            <h2>SSG Rendering Embedded</h2>
            <input type="submit"
               formaction="home/Navigate"
               formmethod="post"
               name="value"
               value="SSG Speaker Embedded" />
            <input type="submit"
               formaction="home/Navigate"
               formmethod="post"
               name="value"
               value="SSG House Embedded" />
        </div>
    </div>


}

<body>

</body>
