
<h1>Sitecore CSR Houses</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lorem enim, viverra eget scelerisque eget, faucibus sed felis. Donec ut fermentum nisl. Donec euismod nec nisi a dignissim. Donec ultricies eget mi vitae fringilla. Cras blandit non nulla in rhoncus. Donec urna urna, vulputate eleifend rutrum ac, vulputate id felis. Phasellus fermentum, felis sed semper mollis, sem erat efficitur augue, id ornare turpis massa ultrices risus. Fusce congue risus quis lacus volutpat, vitae sollicitudin libero rutrum.</p>

<iframe src=@ViewBag.url runat="server" width="1400" height="500"></iframe>

<h3>Sitecore Footer</h3>
<p>Nulla facilisi. Phasellus at lectus eget erat dapibus imperdiet. Phasellus vitae pharetra justo. Donec ornare ut tellus vel egestas. Morbi non tincidunt sem. Etiam mollis nec odio in ornare. Nunc efficitur condimentum neque eu pharetra. In dignissim eu metus eget ornare.</p>
